<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CYBERPOLIGON</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="hacker-background">
        <div class="search-container">
            <h1 class="hacker-title">CYBER SEARCH</h1>
            <form action="/search" method="GET" class="search-form">
                <input type="text" name="query" placeholder="Введите ключевое слово" class="search-input">
                <button type="submit" class="search-button">search</button>
            </form>
        </div>
    </div>
</body>
</html>
